/* * {
    border: 2px red solid;
  } */

body {
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

div.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    padding: 24px;
    /* margin-left: 16px; */
}

ul.nav-menu {
    display: flex;
    margin: 0;
    padding: 0 16px;
    gap: 16px;
}

p.hero-subtitle, .nav-menu-link{
    font-size: 18px;
    color: #e5e7eb
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
}

.hero-title, .hero-subtitle {
    margin: 0px;
}

.hero-right {
    padding: 32px;
    flex-shrink: 2;
}

button.main-cta {
    color: #e5e7eb;
    font-weight: bold;
    background-color: #3882f6;
    padding: 10px;
    border-radius: 8px;
}

/* Card Section */

h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.card-container {
    padding: 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 16px;
    width: 300px;
    border-radius: 8px;
    border: 4px solid #3882f6;
}


/* Quote Section */

.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
}


.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.person-quoted {
    text-align: right;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
}


/* CTA Section */

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-card {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    padding: 32px 64px;
    margin: 128px auto;
}

.cta-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h4.cta-section-title, p.cta-section-subtext {
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

button.cta-section-cta {
    background-color: #3882f6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 4px 24px;
}

/* Footer section */

footer {
    padding: 10px 0px;
    text-align: center;
    color: #e5e7eb;
    background-color: #1f2937;
}